@font-face {
    font-family: 'gaming.ttf';
    src: url("../fonts/gaming.ttf");
}

@font-face {
    font-family: "Resolve-Light.otf";
    src: url(../fonts/Resolve-Light.otf);
}


/* 
.dimension_image{
    max-width: 250px;
    max-height: 250px;
    width: auto;
    height: auto;
    margin-top: 1%;
} */

.form_composant {
    display: flex;
    flex-direction: column;
    margin: 2% 2% 1% 5%;
    box-shadow: 2px 2px 2px;
}
.pageNumber{
    height:20px;
    width:20px;
    background-color: rgb(211, 203, 193);
    color:black;
    display: flex;
    justify-content: center;
    margin: 1%;
}
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;

}


/* .form_article {
    display: flex;
    flex-direction: column;
    margin: 2% 2% 1% 5%;
    border: 1px solid black;
    /* box-shadow: 2px 2px 2px; */

.block {
    display: flex;
    flex-direction: column;
}


/* .rowSection{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
}

.buttom_comp{
    background-color: white;
    border: 0px;
}

.typo_comp{
    font-family: 'gaming.ttf';
    font-size: 23px;
    width: 25vh;
} */

.typo_comp:hover {
    color: red;
}

.prix_typo {
    font-family: "Resolve-Light.otf";
    font-size: 30px;
    margin-top: 10px;
}
.span_resultat{
    font-size: 2em;
    padding:50px;
}
