@font-face {
    font-family: 'gaming.ttf';
    src: url("../fonts/gaming.ttf");
}

.titre_article{
    font-family: 'gaming.ttf';
    font-size: 28px;
}

body{
    background-color: #F0F0F0;
}

.box_article_titre {
    background-color: #bbbbbb;
    padding-bottom: 0.25em;
    width: 74%;
    margin-left: 13%;
}

.titre_article{
    margin-left: 4%;
    padding-top: 1em;
}

.img_flex_article{
    display: flex;
    flex-direction: row;
    margin-left: 27%;
}

.flex_box_image_article{
    display: flex;
    flex-direction: column;
    margin-right: 3%;
}

.img_article_principale {
    max-width: 440px;
    max-height: 440px;
    width: auto;
    height: auto;
}

.img_article_secondaire {
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
    margin-top: 1em;
    margin-right: 1em;
}

.img_article_terciere {
    width: 30%;
    height: auto;
    margin-top: 1em;
}

.flex_presentation {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    margin-left: 14%;
    width: 70%;
    margin-top: 2%;
    padding: 1% 1% 0 1%;
}
.flex_presentation_description{
    background-color: whitesmoke;
    margin-left: 14%;
    width: 70%;
    margin-top: 2%;
    padding: 0 1% 0 1%;
}

.suite_presentation_article{
    font-size: 20px;
    margin-top: 3%;
    letter-spacing: 1px;
    text-indent: 3%;
}

.fa-heart{
    font-size: 30px;
    color: red;
    margin-bottom: 5%;
}

.presentation_article {
    color: #969696;
    font-size: 20px;
    margin-top: 6%;
    letter-spacing: 1px;
}

.presention_prix_article{
    display: flex;
    flex-direction: inherit;
}

.prix_article {
    background-color: #d9eef4;
    font-size: 30px;
    margin-left: 3%;
    padding: 5em 5em 13em 5em;
}