@font-face {
    font-family: "gaming.ttf";
    src: url(../fonts/gaming.ttf);
}

.second_img {
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    align-self: center;
}

.flex_accueil {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box_flex_accueil {
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    margin-right: 2%;
    justify-content: center;
}

#titre_cate {
    text-align: center;
    font-family: "gaming.ttf";
}

.prix_accueil {
    text-align: center;
}

#img_index {
    max-width: 100%;
}