/* .block_presentation{
    display: flex;
} */

.typo_marques {
    margin: 1vh;
}

.typo_marques:hover {
    color: red;
}

.typo_editor {
    margin: 1vh;
}

.typo_editor:hover {
    color: red;
}

.dimension_images_marques {
    max-width: 200px;
    max-height: 150px;
}

.dimension_images_editor {
    max-width: 200px;
    max-height: 150px;
}