.img_panier{
    height:200px;
    width:200px;
}
/* .prix{
}
.p_indication{
} */
.paiement_button{
    background-color: rgb(123, 180, 39);
    padding:30px;
    border-radius: 0.5em;
    font-weight: bold;
    font-size: 1.3em;
}
.paiement_button_disabled{
    background-color: rgb(167, 170, 163);
    padding:30px;
    border-radius: 0.5em;
    font-weight: bold;
    font-size: 1.3em;
}
.paiement_button_disabled:hover{
    filter: blur(1px);
}
.mise_en_page_panier{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
td{
    border-bottom-style: solid;
    padding:20px;
}
table{
    border-collapse: collapse;
    margin-bottom: 50px;
    background-color: #F5F5F5;
}
.adress_block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}
/* copier coller de profil */
.InfoGenerales {
    height: 40vh;
    width: 40vh;
    border-radius: 1em;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
    padding: 20px;
    background-color: white;
    margin-left: 3%;
}

.InfoSupplementaire {
    height: 20vh;
    width: 40vh;
    border-radius: 1em;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
    padding: 20px;
    margin-top: 3vh;
    background-color: white;
}

.adressMenuBlock {
    height: 60vh;
    width: 40vh;
    border-radius: 1em;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    /* margin-left: 5%; */
    padding: 1em;
    background-color: white;
}

.img_profil {
    height: 100px;
    width: 100px;
    border-radius: 4em;
}

.button_display_adress {
    padding: 30px;
    border-radius: 1em;
    margin-top: 1em;
    background-color: #D4C2FC;

}

.btn_display_adress_flex {
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    align-items: center;
    justify-content: center;
}

#profil_photo {
    display: flex;
    flex-direction: row;
}

#profil_input_photo {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 3%;
    text-align: center;
}

#profil_titre_photo {
    margin-bottom: 1em;
}

input[type=email] {
    min-width: 20vh;
}

input#profilimage {
    width: 28vh;
}

label {
    text-align: center;
}

input {
    margin: 1%;
    text-align: center;
}

#profil_info_perso {
    display: flex;
    flex-direction: row;
}

.profil_info_flex {
    display: flex;
    flex-direction: column;
}

input[type=date] {
    width: 20vh;
    align-self: center;
}

.profil_newAdress_flexColumn {
    display: flex;
    flex-direction: column;
}

.profil_newAdress_flexRow {
    display: flex;
    flex-direction: row;
}

#flex_box_profil {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button_center_profil {
    text-align: center;
}

#profil_box_info {
    display: flex;
    flex-direction: row;
}

.test2 {
    display: flex;
    flex-direction: row;
}

.test {
    display: flex;
    flex-direction: column;
    margin-right: 1vh;
}

.flex_input_profil {
    display: flex;
    flex-direction: column;
}

#input_flex_prenom {
    display: flex;
    flex-direction: row;
}

h3 {
    text-align: center;
}

#profilLogin,
#inscriptionEmail {
    width: 20vh;
    align-self: center;
}


#center_info_profil {
    margin-top: 2vh;
}
.paiement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    min-height:50vh;
}
.paniervide{
    text-align: center;
}
@media (min-width: 1250px) and (max-width: 1949px) {
  

}

@media (min-width: 1250px) and (max-width: 1549px) {
  

    
} 
@media (min-width: 1000px) and (max-width: 1249px) {
    .button_display_adress{
        width:15vw;
    }
    .adressMenuBlock{
     width:35vh;   
    }

}
@media (min-width: 750px) and (max-width: 1000px) {
  
    .img_panier{
        height:150px;
        width:150px;
    }
    .paiement_button_disabled{
        width:20vh;
    }

    .adress_block{
        flex-direction: column;
    }
    input{
        width:20vw;
    }
    .btn_display_adress_flex{

        flex-direction: column;
        margin-bottom: 50px;
    }
    main{
        min-height:70vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .adressMenuBlock{
        margin-top: 40px;
    }
    .test{
        margin-top: 40px;
    }
            
}
@media (min-width: 500px) and (max-width: 750px) {
    .img_panier{
        height:150px;
        width:150px;
    }
    .paiement_button_disabled{
        width:20vh;
    }

    .adress_block{
        flex-direction: column;
    }
    input{
        width:20vw;
    }
    .btn_display_adress_flex{

        flex-direction: column;
        margin-bottom: 50px;
    }
    main{
        min-height:70vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .adressMenuBlock{
        margin-top: 40px;
    }
    .test{
        margin-top: 40px;
        
    }
}
@media (max-width: 499px) {

    .paiement_button_disabled{
        width:30vh;
    }
    .img_panier{
        height:100px;
        width:100px;
    }
    td{
        padding:0px;
    }
    .adress_block{
        flex-direction: column;
    }
    input{
        width:30vw;
    }
    .btn_display_adress_flex{

        flex-direction: column;
        margin-bottom: 50px;
    }
    main{
        min-height:70vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .adressMenuBlock{
        margin-top: 40px;
        width:80vw;
        padding:15px;
        
    }
    .test{
        margin-top: 40px;
        
    }
}
