.img_panier{
    height:200px;
    width:200px;
}
/* .prix{
}
.p_indication{
} */
.paiement_button{
    background-color: rgb(123, 180, 39);
    padding:30px;
    border-radius: 0.5em;
    font-weight: bold;
    font-size: 1.3em;
}