.InfoGenerales {
    height: 40vh;
    width: 40vh;
    border-radius: 1em;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
    padding: 15px;
    background-color: white;
    margin-left: 5%;
}
    
    .InfoSupplementaire {
        height: 20vh;
        /* width: 40vh; */
        border-radius: 1em;
        border: 1px solid black;
        box-shadow: 2px 2px 2px black;
        padding: 20px;
        margin-top: 3vh;
        background-color: white;
        margin-bottom:50px;
    }
    
    .adressMenuBlock {
        height: 55vh;
        width: 40vh;
        border-radius: 1em;
        border: 1px solid black;
        box-shadow: 2px 2px 2px black;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        margin-left: 5%;
        padding: 1em;
        background-color: white;
    }
    
    .img_profil {
        height: 100px;
        width: 100px;
        border-radius: 4em;
    }
    
    .button_display_adress {
        padding: 30px;
        border-radius: 1em;
        margin-top: 1em;
    }
    
    .btn_display_adress_flex {
        display: flex;
        flex-direction: row;
        margin-left: 2%;
    }
    
    #profil_photo {
        display: flex;
        flex-direction: row;
    }
    
    #profil_input_photo {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        margin-left: 3%;
        text-align: center;
    }
    
    #profil_titre_photo {
        margin-bottom: 1em;
    }
    
    input[type=email] {
        min-width: 20vh;
    }
    
    input#profilimage {
        width: 28vh;
    }
    
    label {
        text-align: center;
    }
    
    input {
        margin: 1%;
        text-align: center;
    }
    
    #profil_info_perso {
        display: flex;
        flex-direction: row;
    }
    
    .profil_info_flex {
        display: flex;
        flex-direction: column;
    }
    
    input[type=date] {
        width: 20vh;
        align-self: center;
    }
    
    .profil_newAdress_flexColumn {
        display: flex;
        flex-direction: column;
    }
    
    .profil_newAdress_flexRow {
        display: flex;
        flex-direction: row;
    }
    
    #flex_box_profil {
        display: flex;
        flex-direction: column;
    }
    
    .button_center_profil {
        text-align: center;
    }
    
    #profil_box_info {
        display: flex;
        flex-direction: row;
    }
    
    .test2 {
        display: flex;
        flex-direction: row;
    }
    
    .test {
        display: flex;
        flex-direction: column;
        margin-right: 1vh;
    }
    
    .flex_input_profil {
        display: flex;
        flex-direction: column;
    }
    
    #input_flex_prenom {
        display: flex;
        flex-direction: row;
    }
    
    h3 {
        text-align: center;
    }
    
    #profilLogin,
    #inscriptionEmail {
        width: 20vh;
        align-self: center;
    }
    
    #global1 {
        display: flex;
        flex-direction: row;
        margin-top: 2.5%;
        justify-content: center;
        height:70vh;
    }
    #global2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    body {
        background-color: whitesmoke;
    }
    
    #center_info_profil {
        margin-top: 2vh;
    }

    /* panier */
    @font-face {
        font-family: 'gaming.ttf';
        src: url("../fonts/gaming.ttf");
    }
    @font-face {
        font-family: "Resolve-Light.otf";
        src: url(../fonts/Resolve-Light.otf);
    }

    .img_panier{
        height:200px;
        width:200px;
    }
    .font_date{
        font-style: italic;
    }
    .prix_article_commande{
        font-family: "Resolve-Light.otf";

    }
    .titre_article_commande{
        font-family: 'gaming.ttf';
    }
    .section_historique{
        padding:50px;
    }
    h2{
        text-align: center;
    }
    .main{
        min-height:100vh;
    }